body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

.dialog {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  min-width: 96%;
  margin: 3% 0 3% 0;
}
.header__tuning {
  display: block;
  text-align: center;
  padding: 5px 0 5px 0;
  width: 30%;
  background-color: white;
  border: 1px solid black;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.header__exit {
  text-align: center;
  padding: 5px 0 5px 0;
  width: 18%;
  background-color: white;
  border: 1px solid black;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 84vh;
  margin: 0 2% 3% 2%;
  border: 1px solid black;
}

.input {
  max-width: 80%;
  align-self: flex-start;
  background-color: #d3d3d3;
  border-radius: 1ex;
  font-size: 16px;
  padding: 15px 5px 15px 5px;
  margin: 6px 0 6px 5px;
}
.input__watch {
  font-size: 12px;
  text-align: end;
  color: #333333;
  margin-bottom: -10px;
}

.output {
  max-width: 80%;
  align-self: flex-end;
  text-align: end;
  background-color: #d3d3d3;
  border-radius: 1ex;
  padding: 15px 5px 15px 5px;
  margin: 6px 5px 6px 0;
}
.output__watch  {
  font-size: 12px;
  color: #333333;
  margin-bottom: -10px;
}

.output_not_sended {
  background-color: #f1f1f1;
}

.footer {
  display: flex;
  justify-content: space-between;
  min-width: 96%;
  margin: 0 0 3% 0;
  left: 0; 
  bottom: 0;
}
.message {
  text-align: start;
  padding: 5px 5px 5px 5px;
  width: 86%;
  color: #7C7C7C;
  border: 1px solid black;
  font-family: Roboto, sans-serif;
}
.enter {
  text-align: center;
  padding: 5px 5px 5px 5px;
  width: 8%;
  background-color: white;
  border: 1px solid black;
  font-family: Roboto, sans-serif;
}

.section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #535353;
}

.block-popup {
  min-width: 273px;
  min-height: 319px;
  background-color: white;
}
.create__header {
  display: flex;
  justify-content: space-between;
  max-width: 99%;
  margin: 4% 4% 4% 7%; 
}
.create__acount {
  text-align: left;
  padding: 5px 5px 5px 18px;
  width: 70%;
  font-family: Roboto, sans-serif;
  font-size: 16px; 
}
.create__exit {
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  width: 9%;
  background-color: white;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 16px; 
}
.create__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35vh;
  margin: 0 2% 45% 2%;
}
.create__nickname, 
.create__parol {
  font-family: Roboto, sans-serif;
  font-size: 16px; 
  margin-left: 5%;
}
.create__nickname, 
.create__password {
  align-self: center;
  width: 90%;
  height: 25px;
  border: 1px solid black;
  margin: 15px 0 15px 0;
}

.create__button {
  width: 30%;
  height: 25px;
  font-family: Roboto, sans-serif;
  font-size: 16px; 
  background-color: white;
  border: 1px solid black;
  margin-left: 5%;
}
.create__footer {
  display: flex;
  justify-content: center;
  left: 0; 
  bottom: 0;
  max-width: 100%;
  margin: 3% 2% 3% 2%;
 
}
.create__acount {
  text-align: center;
  font-size: 18px;
  padding: 0;
  width: 100%;
  background-color: white;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 16px; 
}

.author__header {
  display: flex;
  justify-content: space-between;
  max-width: 99%;
  margin: 4% 4% 4% 2%; 
}
.author__reg {
  text-align: left;
  padding: 5px 5px 5px 18px;
  width: 70%;
  font-family: Roboto, sans-serif;
  font-size: 16px; 
}
.author__exit {
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  width: 9%;
  background-color: white;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.author__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35vh;
  margin: 0 2% 45% 2%;
}
.author__name, .author__parol {
  font-family: Roboto, sans-serif;
  font-size: 16px; 
  margin-left: 5%;
}
.author__nickname, .author__password {
  align-self: center;
  width: 90%;
  height: 25px;
  border: 1px solid black;
  margin: 15px 0 15px 0;
}

.author__button {
  width: 30%;
  height: 25px;
  font-family: Roboto, sans-serif;
  font-size: 16px; 
  background-color: white;
  border: 1px solid black;
  margin-left: 5%;
}
.author__footer {
  display: flex;
  justify-content: center;
  left: 0; 
  bottom: 0;
  max-width: 100%;
  margin: 3% 2% 3% 2%;
 
}
.author__acount {
  text-align: center;
  font-size: 18px;
  padding: 0;
  width: 100%;
  background-color: white;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 16px; 
}

.tuning__header {
  display: flex;
  justify-content: space-between;
  max-width: 99%;
  margin: 4% 4% 4% 2%; 
}
.tuning__reg {
  text-align: left;
  padding: 5px 5px 5px 10px;
  width: 70%;
  font-family: Roboto, sans-serif;
  font-size: 16px; 
}
.tuning__break {
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  width: 9%;
  background-color: white;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.tuning__main {
  display: flex;
  flex-direction: column;
  min-height: 35vh;
  margin: 0 2% 0 2%;
}
.tuning__name {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin-left: 3%;
}
.tuning__namechat {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 5% 2% 0 2%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.tuning__nameenter {
  display: block;
  text-align: start;
  padding: 5px 5px 5px 5px;
  width: 80%;
  border: 1px solid black;
}
.tuning__enter {
  display: block;
  text-align: center;
  padding: 5px 5px 5px 5px;
  width: 10%;
  background-color: white;
  border: 1px solid black;
}
@media  (max-width: 768px) {
  .block {
    display: none;
  }
}
@media  (min-width: 769px) {
  .dialog, .section {
    display: none;
  }
  .block {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    top: calc(25%);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .attention {
    font-size: 3rem;
    animation: attention 1.7s infinite;
  }
  @keyframes attention {
    from { opacity: 1;}
    to { opacity: 0;}
  }
}


